@font-face{
  font-family: Airways;
  src: url(Airways.ttf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
}
main{
  /*background-image: radial-gradient(circle, #4acef1, #2ec3f4, #12b8f6, #11abf7, #2c9ef5);*/
  max-width: 420px;
  color: #202020;
  min-height: 100vh;
}
/*
  Login Page
*/

.logo{
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  top: 90px;
  font-family: Airways;
  font-size: 3.4em;
  margin: 0;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.login{
  background-image: radial-gradient(circle, #4acef1, #2ec3f4, #12b8f6, #11abf7, #2c9ef5);
}
.LoginForm{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoginForm form{
  text-align: center;
  margin-top: -100px;
}
.LoginForm form label{
  display: block;
}
.LoginForm form input{
  display: block;
  margin: auto;
} 
.LoginForm form p span{
  font-weight: 700; 
  color: white;
  text-decoration: underline;
}
.LoginForm  form button {
  margin-top: 15px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  background: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 100px 10px 100px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
/*
  Register Page
*/
.register{
  background-image: radial-gradient(circle, #4acef1, #2ec3f4, #12b8f6, #11abf7, #2c9ef5);
}
.registerHeader{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid white;
  height: 40px;
  color: #fff;
}
.registerBack{
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.registerBack span{
  margin-left: 2px;
  font-size: 1.08em;
}
.registerTitle{
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .logo{
  top: 60px;
}
.RegisterForm{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RegisterForm form{
  text-align: center;
  margin-top: -150px;
}
.RegisterForm form label{
  display: block;
}
.RegisterForm form input{
  display: block;
  margin: auto;
}
.RegisterForm  form button {
  margin-top: 15px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  background: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 80px 10px 80px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
/*
  homepageHeader
*/
.homepage{
  background-image: none;
  background-color: white;
}
.groupButton{
  margin-top: 15px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  background: #2c9ef5;
  color: #ffffff;
  font-size: 0.9em;
  padding: 13px 25px;
  border: solid #ffffff 2px;
  text-decoration: none;
  display: block;
  margin: 10px auto;
}
.homepageHeader{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid #2c9ef5;
  height: 40px;
  color: #2c9ef5;
}
.homepageBack{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.homepageBack span{
  margin-left: 2px;
  font-size: 1.08em;
}
.homepageTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
.newGroup{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.newGroup i{
  transform: rotate(45deg);
  font-size: 1.7em;
  margin-right: 10px;
}


.group-code{
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.homepage li i{
  float: right;
  margin-right: 13px;
  color: #2c9ef5;
}

.bold{
  font-weight: 700;
  margin-left: 2px;
}

.groupOptions label{
  width: calc(100% - 20px);
  margin: 0 10px;
}

.groupOptions nav{
  margin: 0;
}

.groupOptions .a-field .field__input, .groupOptions,
.newPurchase .a-field .field__input{
  border-bottom: 2px solid #2c9ef5;
}

.groupOptions .a-field_a1 .field__input:focus,
.newPurchase .a-field_a1 .field__input:focus{
  border-color: #2c9ef5;
}

.newPurchase label {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.newPurchase button {
  display: block;
  margin: 10px auto;
}

ul{
  padding: 0;
  margin: 0 10px;
}
li{
  list-style: none;
  border-bottom: 1px solid lightslategray;
  padding: 10px 0 10px 15px;
}
/*
  singlegroup
*/
.singlegroup div div button{
  margin-top: 15px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  background: #2c9ef5;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 80px 10px 80px;
  border: solid #ffffff 2px;
  text-decoration: none;
}
.singlegroupHeader{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid #2c9ef5;
  height: 40px;
  color: #2c9ef5;
}
.singlegroupBack{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.singlegroupTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.newPurchase h2, .history h2, .debt h2{
  text-align: center;
  color: #467ea7;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.debt h2{
  margin-bottom: 30px;
}

.debt p{
  text-align: center;
  margin-bottom: 30px;
}

.solveDebt p{
  text-align: center;
  margin-bottom: 30px;
}

.solveDebt button{
  display: block;
  margin: 0px auto;
}

button:focus{
  outline: none;
}

nav{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 10px;
}

.singleNav{
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  max-width: 420px;
  width: 100%;
  border-bottom: 1px solid lightslategray;
  margin: 0;
}

.singleNav button{
  border-top: 1px solid lightslategray;
}
.singleNav .activeButton{
  border-top: 2px solid #2c9ef5;
  border-bottom: none;
}

.singleNav button:nth-child(3){
  border-left: 1px solid lightslategray;
}
nav button{
  padding: 10px 0;
  border: none;
  background-color: white;
  border-bottom: 1px solid lightslategray;
}
nav button:nth-child(2){
  border-left: 1px solid lightslategray;
}
.activeButton{
  border-bottom: 2px solid #2c9ef5;
  color:#2c9ef5;
}
/*
  Swish image
*/
.singlegroup div img{
  width: 100%;
}
/*
  Input Field Styling
*/

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  display: inline-block;
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1em;
}

.a-field .field__input:focus{
  outline: none;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1.5em;  
}

.a-field .field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.a-field .field__input::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .field__input::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.a-field .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .field__input:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .field__input:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.a-field .field__label-wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);	
  pointer-events: none;
  cursor: text;
  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .field__label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);
  line-height: 1;
  font-size: var(--uiFieldHintFontSize);
  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.a-field .field__input:focus ~ .field__label-wrap .field__label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}
.a-field_a1 .field__input{
  transition: border-color .2s ease-out;
  will-change: border-color;
}

.a-field_a1 .field__input:focus{
  border-color: var(--fieldBorderColorActive);
}

.field{
  --fieldBorderColor: white;
  --fieldBorderColorActive: white;
}
